<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Hello World!</h1>
<%= yield %>
 <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
          Hey there
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
          Hey there again
        </div>
      </div>
    </div>

</body>
</html>
